body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(images/OIP.jpg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pop {
    background-color: plum;
    padding-top: 40px;
    border-radius: 10px;
    text-align: center;
    width: 450px;
    height: 450px;
    margin: 20px;
    color: #272144;
   
}

.img-radius {
    border-radius: 30px;
    width: 200px;
}

.img-radius:hover {
    background-color: #e7dffc;
    transform: scale(1.05);
    width: 100px;
    height: 100px;
}

h4 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-weight: 3px;
}

li {
    list-style: none;
}

.icon {
    width: 20px;
    padding-right: 3px;
}

.icon:hover {
    background-color: #e7dffc;
    transform: scale(1.05);
    width: 40px;
    height: 30px;
}

@media(max-width: 784px) {
    .hip {
        max-width: 100%;
    }

   
}

@media(max-width: 459px) {
    .hip .pop {
        flex-direction: column;
    }
}