/* Reset styles */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Body styles */
body {
    background-color: rgb(219, 231, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General classes */
.skew {
    transform: skew(15deg, 20deg);
}

.full {
    width: 150%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: rgb(162, 183, 204);
    display: grid;
    grid-template-columns: 2fr 4fr;
}

/* Container styles */
.left, .right {
    position: initial;
    padding: 20px;
    min-height: 1000px;
}

.left {
    background-color: bisque;
}

.right {
    background-color: rgb(162, 183, 204);
}

.div.b {
    width: 150px;
    height: 80px;
    background-color: bisque;
    transform: skew(20deg);
}

/* Typography */
.h2 {
    background-color: bisque;
}

.image, .Contact, .Skills, .Language, .Hobbies, .title, 
.ProfessionalBio, .Experience, .Education, .project {
    margin-bottom: 40px;
    margin-top: 20px;
}

/* Table styles */
.education-table {
    width: 100%;
    border-collapse: collapse;
}

.education-table td {
    border: 1px solid #0d0d0d;  /* Light border for clarity */
    padding: 8px;
    text-align: left; 
}

.education-table tr + tr {
    margin-top: 10px;
}

/* Image styles */
.img {
    display: flex;
    justify-content: center;
    animation: rotate360 30s forwards;  /* Rotates container 360 degrees over 30 seconds */
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Navigation styles */
#navlist {
    position: relative;
}


/* #navlist li, #navlist a {
    height: 44px;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
} */

#web-development, #backend, #world-wide-web {
    left: 0px;
    width: 100px;
}

#web-development {
    background: url('delma_folder/del_img/web-development.png');
}

#backend {
    background: url('delma_folder/del_img/backend.png');
}

#world-wide-web {
    background: url('delma_folder/del_img/world-wide-web.png');
}
